*{
    margin: 0;
    padding: 0;
}

 /* 隐藏滚动条 */
 ::-webkit-scrollbar{
     height: 0;
 }
html,body{
    height:100%;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ebe9e9;
    overflow-y: hiden;
    font-size: 1.2rem;
}
h3{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: #9c9c9c;
}
.content{
    height: calc(100% - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.content img{
    width: 3em;
    height: 3em;
    border-radius: 3px;
}

.robot{
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;

}
.robot img{
    float: left;
}
.text{
    position: relative;
    max-width: 55%;
    border-radius: 5px;
    padding: .5em .8em;
    word-wrap: normal;
}

.robot .text {
    float: left;
    background: #fff;
    margin-left: 15px;
}
.myself{
    width: 100%;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.myself .text{
    float: right;
    background: yellowgreen;
    margin-right: 15px;
}   

.text::after{
    position: absolute;
    top: 0.7em;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: .4em solid transparent;
}

.myself .text::after{
    right: -0.7em;
    border-left: .4em solid yellowgreen;
}
.robot .text::after{
    left: -0.7em;
    border-right: .4em solid #fff;
}


.myself img{
    float: right;
}

.bottom{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 3.5em;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
}
.bottom .input{
    border: none;
    outline: none;
    height: 100%;
    text-indent: 1em;
    font-size: 1.3rem;
    flex: 1 1 auto;
}
.bottom .btn{
    cursor: pointer;
    border: none;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    flex: 0 0 100px;
}
@media screen and (max-width:768px){
    .wrapper{
        width: 100% ;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:769px) and (max-width:800px) {
    .wrapper{
        font-size: 1.6rem;
        width: 80% ;
    }
}

@media screen and (min-width:801px) {
    .wrapper{
        width: 50% ;
        font-size: 1.8rem;
    }
}